.advertising-section-title {
  text-align: center;

  h1 {
    margin-bottom: 36px;
  }
}

.section-advertising {

  height: auto;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;

  .container {
    .row {
      text-align: center;

      .col-md-12 {
        margin-bottom: 51px;

        .advertising-item {

          // padding-left: 25%;
          // padding-right: 25%;
        }
      }
    }
  }

  .image-container {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
  }
}

.col-lg-4 {
  .advertising-item {

      padding-left: 50px !important;
      padding-right: 50px !important;

  }
}

.advertising-item {

  p {
    line-height: 1.5;

  }

  h2 {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 1200px) {

  .advertising-item {
    width: 50% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {

  .advertising-item {
    width: 70% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 449px) {

  .advertising-item {
    width: 80% !important;
    margin: 0 auto;
  }
}
