.banner-slider {

  .slick-list {
    padding-top: 0px;
  }

  .slick-arrow {
    height: 53px;
    width: 39px;
    background-color: $secondary-color;
    margin-top: -26px;
    padding: 0 10px;
     
     svg {
      position: relative;
      top: -15px;

      }

    @media screen and (max-width: 991px) {
      background-color: rgba(0,0,0,0);
      padding: 0 20px;
      margin-top: 0;
      width: 50%;
     
       svg {
         top: -4px;
       }
      svg path {
        stroke: $gray-text-medium;

      }
    }
  }

  @media screen and (max-width: 991px) {

    .slick-buttons-contain {
      button:nth-of-type(2) {
        justify-content: flex-end;
      }
    }
  }
}
