.banner-slider {

  .slick-list {
    padding-top: 0px;
  }

  .slick-arrow {
    height: 53px;
    width: 39px;
    background-color: $secondary-color;
    // border: 1px solid rgba(255,255,255,0.7);
    margin-top: -26px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 991px) {
      background-color: rgba(0,0,0,0);
      padding: 0;
      margin-top: 0;
      width: 50%;
      justify-content: flex-start;
      padding-left: 30px;
      padding-right: 30px;

      svg path {
        stroke: $gray-text-medium;
      }
    }
  }

  @media screen and (max-width: 991px) {

    .slick-buttons-contain {
      button:nth-of-type(2) {
        justify-content: flex-end;
      }
    }
  }
}
