.header-a .account-lnk-sign-in:after {
  width: 0;
}
 /* Styling for top bar */

.header-a .top-bar {

    background-color: #323232;
    box-sizing: border-box;
    height: 48px;

    .container {
      height: 100%;
    }

    .utils {
      height: 100%;
      font-size: 12px;

    a {
      height: 100%;
      padding-top: 16px;
      margin-right: 0;
      padding-right: 16px;
      padding-left: 18px;

      color: #FFFFFF;
      &:hover {

      }
      &:after {

      }
    }

    a:hover {
      background-color: #FFFFFF;
      color: #575757;
      transition: 0.25s;
    }
  }
}

/* Topbar Logged Out Account Buttons */

.header-a .top-bar .account-dropdown {

    font-size: 14px;

    a {
      color: #FFFFFF;
      height: 48px;
      box-sizing: border-box;
      font-size: 14px;
      font-family: 'ProximaBold', serif;
    }

    .account-lnk-sign-in {
      padding-left: 30px;
      padding-right: 29px;
      color: #FFFFFF;
    }

    .account-lnk-register {
      padding-left: 30px;
      padding-right: 29px;
      background-color: #CF0974;
    }
}

/* Styling for mainbar */
.header-a  .main-bar {

    height: auto;
    position: relative;
    padding-bottom: 15px;

    .container {
      position: relative;

      .promotional {
        text-align: left;

        p {
          margin-bottom: 0;
          margin-top: 10px;
          text-transform: uppercase;
          font-size: 12px;
          color: $secondary-color;

          i {
            margin-right: 10px;
          }
        }
      }

      .mainbar-header {
        width: 20%;
        display: inline-block;
        padding-top: 5px;
      }

      .navbar-brand {
        padding-top: 10px;
      }
    }
}

.header-a .main-bar .main-bar-ctas {
  height: 100%;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .main-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  @media screen and (max-width: 992px) {
      padding-right: 0px !important;
  }
}

.header-a .main-bar .mini-search {
  margin-left: 0px;
  width: 600px;

  @media screen and (max-width: 1200px){
    width: 500px;
  }

  @media screen and (max-width: 1000px){
    width: 400px;
  }

  @media screen and (max-width: 900px){
    width: 300px;
  }

  @media screen and (max-width: 800px){
    width: 285px;
  }

  @media screen and (max-width: 680px){
    width: 450px;
  }

  @media screen and (max-width: 600px){
    width: 350px;
  }

  @media screen and (max-width: 500px){
    width: 285px;
  }
}

.header-a .main-bar .mini-cart {
  float: none;
  margin-left: 25px;
  z-index: 0;

  .mini-cart-count {
    float: left;
    margin-right: 5px;
    z-index: 1;
  }

  @media screen and (max-width: 680px) {
    position: absolute;
    right: 30px;
  }

  @media screen and (max-width: 430px) {
    right: 15px;
  }
}

@media screen and (max-width: 680px) {

  .main-bar .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .mainbar-header {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
