.inkandtoner-menu.dropdown-menu {
  width: 400%;
}

.stationary-menu.dropdown-menu {
  width: 400%;
}

.paper-menu.dropdown-menu {
  width: 600%;
}

.cleaningmaterials-menu.dropdown-menu {
  width: 200%;
}

.technical-menu.dropdown-menu {
  margin-left: -150%;
  width: 400%;
}

.officefurniture-menu.dropdown-menu {
  margin-left: -150%;
  width: 300%;
}

// general navbar menu styling

.mega-menu-expand {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    padding: 0 !important;
  }

  h2 {
    color: #0fa0da;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    border: solid 2px #0fa0da;
    padding-left: 10px;
    padding-right: 10px;

    i {
      padding-left: 5px;
    }
  }
}

li.dropdown, li.dropdown.open {
  position: relative !important;
}

.dropdown-menu li {
    margin: 0 6px;
}

.mega-menu-title {

  h2 {
    font-size: 16px;
    color: #575757;
  }
}

.mega-menu-content {
  padding-bottom: 30px !important;
}

.mega-menu-list {
  font-size: 16px;
  line-height: 39px;
  color: #989494;
}

.dropdown-menu {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

a.dropdown-toggle {
  position: relative !important;
}

.dropdown.inkandtoner-menu:hover {

  .triangle-up.inkandtoner-menu {
    visibility: visible !important;
  }
}

.dropdown.stationary-menu:hover {

  .triangle-up.stationary-menu {
    visibility: visible !important;
  }
}

.dropdown.paper-menu:hover {

  .triangle-up.paper-menu {
    visibility: visible !important;
  }
}

.dropdown.cleaningmaterials-menu:hover {

  .triangle-up.cleaningmaterials-menu {
    visibility: visible !important;
  }
}

.dropdown.technical-menu:hover {

  .triangle-up.technical-menu {
    visibility: visible !important;
  }
}

.dropdown.officefurniture-menu:hover {

  .triangle-up.officefurniture-menu {
    visibility: visible !important;
  }
}

.triangle-up {
  position: absolute;
  right: 11px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  z-index: 99999999;
  visibility: hidden;

  @media screen and (max-width: 1200px) {
    right: 8.5px !important;
  }

}

@media screen and (max-width: 1000px) {
    .mega-menu-title h2 {
        font-size: 14px;
        padding-left: 15px;
    }

    .mega-menu-list {
      font-size: 14px;
      line-height: 25px;
    }

    .dropdown-menu {
      width: 185% !important;
    }
}
